@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body, html {
  overflow: hidden;
  position: fixed;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

body {
  background-color: #ccc;
  height: 100vh;
  width: 100vw;

}

.download-paragraph-wrapper {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #00ace6;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: hand;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 150px);
}

.download-paragraph-wrapper:hover {
  background-color: #d6d6d6;;
  transition: background-color 0.2s ease-in-out;
}

.download-paragraph-wrapper p {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: white;
  text-align: center;
}

.download-paragraph-wrapper p span#ver-info{
  font-size: 16px;

}
